.aboutMe-section {
  font-family: "Cornerstone";
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.aboutMe-section p {
  font-size: 30px;
}

.otherText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em;
  margin: 0;
  gap: 0;
}

.otherText p {
  width: 100%;
}

.numbers-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px){
  .aboutMe-section p {
    font-size: 0.7em;
    /* border: black solid 2px; */
  }
}