.numbers-container {
  width: 100%;
  display: flex;
  height: 5em;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  gap: 5em;
  padding-bottom: 1em;
}

.number-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.7em;
}

.number-item h1 {
  font-size: 4.7em;
  color: black;
  padding: 0;
  margin: 0;
  text-shadow: 0px 3px 0px grey, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
}

.number-item h2 {
  font-size: 1.3em;
  text-align: left;
  padding: 0.3em;
  margin: 0;
  margin-top: 0.35em;
  color: #9198e5;
  background-color: black;
  border: solid black 0.2em;
  border-image: linear-gradient(to right, #9198e5, #e66465) 1;
}

@media only screen and (max-width: 600px) {
  .number-item {

  }

  .grid-item{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.4em;
  }

  .numbers-container {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    overflow: hidden;
    gap: 1em;
    padding-bottom: 1em;
    border: black solid 2px;
  }

  .grid-item1{
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .grid-item2{
    grid-row: 1/2;
    grid-column: 2/-1;
  }

  .grid-item3{
    grid-row: 2/-1;
    grid-column: 1/2;
  }

  .grid-item4{
    grid-row: 2/-1;
    grid-column: 2/-1;

  }
  .number-item h1 {
    font-size: 2em;
    color: black;
    text-shadow: 0px 3px 0px grey, 0px 14px 10px rgba(0, 0, 0, 0.15),
      0px 24px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
  }

  .number-item h2 {
    font-size: 0.7em;
    text-align: left;
    padding: 0.3em;
    margin-top: 0.3em;
    color: #9198e5;
    background-color: black;
    border: solid black 0.2em;
    border-image: linear-gradient(to right, #9198e5, #e66465) 1;
  }
}
