.projects-section {
  font-family: "Cornerstone";
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling, if unnecessary */
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  height: 100%;
  width: 100%;
}
