.projects-section {
  font-family: "Cornerstone";
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  height: 100%;
  width: 100%;
}
