.projects-section {
  font-family: "Cornerstone";
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.bottomSection{
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
}
