/* Basic reset for margin and padding */

body {
    background-image: url('../images/castle.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
    font-family: 'Harry P', sans-serif; /* Use Harry P font with fallback to sans-serif */
}

nav{
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    position: fixed;
}

.navbar {
    list-style-type: none;
    justify-content: center; /* Center the items horizontally */
    display: flex; /* Use flexbox to align items horizontally */
    position: fixed;
    margin-left: 25%
}

.navbar li {
    display: inline;
    position: relative; /* Ensures diamonds are positioned relative to list items */
    /*border: 1px solid #8C7F5A; /* Border color */
    
}

.navbar a {
    position: relative;
    display: block;
    color: #8C7F5A;
    padding: 15px 75px;
    text-decoration: none;
    font-size: 40px;
    
}

.navbar li:not(:last-child)::after {
    content: "♢"; /* Unicode character for black diamond */
    font-size: 20px; /* Adjust the font size if needed */
    color: #D4AF37; /* Adjust the color of the diamond */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -11px; /* Position to the right of the link */
}

.card {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 15px 15px;
    left: 15px; /* Adjust the left position as needed */
    width: 400px; /* Set the width of the card */
    padding: 50px;
    background-color: #060d17; /* Background color of the card */
    color: #bc9b43;
    border: 1px solid #1a1918; /* Border color */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 8 px rgba(0, 0, 0, 0.2); /* Box shadow for a nice effect */
    border-color: #bc9b43;
}

.card-item{
    min-height: 100%;
    border: 3px solid white;
}

.card-item-1{
    font-size: 30px;
    
    
}

.rowlogo{
    display: flex;
    margin: 0 0;
    padding: 0 0;

}

.name{
    
}

.crest{
    width: auto;
    height: 200px;
}

.card-item-2{
    width: 400px;
    border-radius: 25px;

}

.card-item-3{
    font-size: 25px;
    align-self: flex-start;
}




