/* Basic reset for margin and padding */

body {
    background-image: url('/images/background-harrypotter.jpeg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    font-family: 'Harry P', sans-serif; /* Use Harry P font with fallback to sans-serif */
}

nav{
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    position: fixed;
}

.navbar {
    list-style-type: none;
    justify-content: center; /* Center the items horizontally */
    display: flex; /* Use flexbox to align items horizontally */
    position: fixed;
    margin-left: 25%
}

.navbar li {
    display: inline;
    position: relative; /* Ensures diamonds are positioned relative to list items */
    border: 1px solid #8C7F5A; /* Border color */
    
}

.navbar a {
    position: relative;
    display: block;
    color: #8C7F5A;
    padding: 15px 75px;
    text-decoration: none;
    font-size: 40px;
    
}

.navbar li:not(:last-child)::after {
    content: "♢"; /* Unicode character for black diamond */
    font-size: 20px; /* Adjust the font size if needed */
    color: #D4AF37; /* Adjust the color of the diamond */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -11px; /* Position to the right of the link */
}

.fixed-card {
    position: fixed;
    margin: 15px auto;
    left: 15px; /* Adjust the left position as needed */
    width: 350px; /* Set the width of the card */
    padding: 50px;
    background-color: #2c2c2c; /* Background color of the card */
    color: #bc9b43;
    border: 1px solid #8C7F5A; /* Border color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for a nice effect */
    font-size: 25px;
}

#profile{
    background-color: red;
}
 

#profile img{
    width: 100%
}