/* Basic reset for margin and padding */

@font-face {
    font-family: 'Cornerstone';
    src: url('../fonts/Cornerstone.ttf');
}

html{
    background-image: url("../images/castle.jpeg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    font-family: 'Abolition';
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container{
    display: grid;
    position: relative;
    background-color: rgb(0, 0, 0, 0.8);
    height: 90vh;
    width: 75vw;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(10, 10%);

    justify-content: center;
    justify-items: stretch;

}

.photo{
    background-color: rgb(181, 154, 84);
    grid-column: 1/ 2;
    grid-row: 1/ 7;
    align-items: center;
    justify-content: center ;
    display: flex;
}

.photo img{
    display: flex;
    height: 90%;
    width: auto;
    border-radius: 40px;
}

.grid-item-2{
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 1 / 3;
}

.grid-item-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item-2 h1{
    font-family: 'Cornerstone';
    font-size: 55px;
}

.grid-item-3{
    background-color: yellow;
    grid-column: 2 / -1;
    grid-row: 3 / -1;
}

.grid-item-4{
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 9 / -1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.download-button{
    display: flex;
    border: 1px solid white;
    width: 65%;
    height: 50%;
    padding: 1fr 2fr;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Cornerstone';
    text-align: center;
    border-radius: 40px;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.download-button a{
    
}

.name{
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
    background-color: rgb(181, 154, 84);



}

.name h1, h2{
    text-align: center;
    font-family: 'Cornerstone';
    margin: 0;
}

.name h1{
    margin: 10px 0;
    font-size: 25px;
}

.name h2{
    font-size: 15px;
    margin: -5px 0;
}


.buttons{
    grid-column: 1 / 2;
    grid-row: 8 / 9;

    background-color: rgb(181, 154, 84);
    display: flex;
    align-items: center;
    justify-content: space-around;
}




/* Style all font awesome icons */
.fa {
    padding: 27px 9px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github{
    background: black;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

