#root {
  text-align: center;
}

.snap-section{
  scroll-snap-align: start;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* Pure black background */
  z-index: -3; /* Lowest layer */
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/grid.svg");
  background-size: 30em;
  background-repeat: repeat;
  z-index: -1; /* Layer above background color but below the light */
  filter: blur(var(--blur-amount, 0px)); /* Controlled by JS */
  transition: filter 0.3s ease; /* Smooth transition for blur changes */
}

.light {
  position: fixed; /* Stays consistent during scrolling */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15em;
  height: 15em;
  border-radius: 50%; /* Makes the element circular */
  filter: blur(15px);
  background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%);
  z-index: -2; /* In front of the black background, but behind the grid */
}


.color-beige{
  color: rgb(180,155,130)
}

.standard-text-black{

}

.huge-text{
  font-size: 4em;
}

.blur-background {
  /* backdrop-filter: blur(5px);  */
}